@font-face {
    font-family: 'Amour';
    src: url('../public/fonts/KZ_Mon_Amour_One.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Carolina';
    src: url('../public/fonts/KZCarolina-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Margarita';
    src: url('../public/fonts/KZ_Margarita_script.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bikam';
    src: url('../public/fonts/Bickham_Script_Pro_3_Regular.otf') format('truetype');

}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('/bg.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1; /* Чтобы фон оказался за другим контентом */
  }
  
.body{
    width: 100%;
    margin: 0;
    min-height: 100vh;
    /* background-image: url("../public/bg.jpg"); */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    /* padding-bottom: 30px; */
    box-sizing: border-box;
    z-index: 2;
}

.blur{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(147, 135, 86, 0.2);
    /* padding-bottom: 30px;
    box-sizing: border-box; */
}

.mainBlock{
    width: 100%;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.whiteBlock{
    background-color: rgba(255, 255, 255, 0.7); 
    width: 100%;
    padding: 50px 0;
    text-align: center;
}
.dnd{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 120px;
    display: flex;
    align-items: center;
    font-weight: 100;
    justify-content: center;
}
.dndG{
    font-size: 32px;
    color: grey;
}

.names{
    margin: 0;
    font-family: "Bikam";
    font-size: 80px;
    font-weight: 100;
    line-height: 50px;
}
.namesSecond{
    text-transform: none;
    margin: 0;
    font-family: "Bikam";
    font-size: 80px;
    font-weight: 100;
    line-height: 50px;
    color: #0e5e0b;
}

.date{
    display: block;
    font-size: 32px;
    margin-top: 10px;
}

.secondBlock{
    background-color: rgba(255, 255, 255, 0.7); 
    width: 90%;
    margin: 0 auto;
    border-radius: 15px;
    padding: 0 15px;
    box-sizing: border-box;
}

.header{
    padding: 30px 0;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 500;
}

.subSecond{
    font-size: 26px;
    text-transform: uppercase;
}

.link{
    display: block;
    
    background-color: #0e5e0b;
    text-align: center;
    padding: 15px 30px;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    font-size: 32px;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 30px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 60px;
}

.time{
    color: #0e5e0b;
    font-size: 80px;
    font-family: "Bikam";
    line-height: 30px;
}
.item{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    font-size: 18px;
}
.namesss{
    color: #0e5e0b;
    font-size: 48px;
    font-family: "Bikam";
    line-height: 30px;
    text-transform: none;
}
.wrapper2{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;
}

.wrapperItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.play{
}

.playBtn{
    position: absolute;
    top: 50px;
    left: 50px;
    cursor: pointer;
}